/* CSS Document */



		.tabla1 
		{
				font-family:Verdana, Arial, Helvetica, sans-serif;
				font-size:12px;
				text-align: center;
				
				margin-top:0;
				
				
				
				
				
				
				

		}
		 .tabla1 th 
		{
				padding: 5px;
				font-size: 11px;
				background-color: #2175bc;
				
				background-repeat: repeat-x;
				color: #FFFFFF;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-right-style: solid;
				border-bottom-style: solid;
				border-right-color: #558FA6;
				border-bottom-color: #558FA6;
				font-family:Verdana, Arial, Helvetica, sans-serif;
				text-transform: uppercase;
		}
		
		.tabla1 .modo1 
		{
				font-size: 10px;
				
				background-color: #90bade;
				background-image: url(fondo_tr01.png);
				background-repeat: repeat-x;
				color: #34484E;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				
		}
		.tabla1 .modo1 td 
		{
				padding: 5px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-right-style: solid;
				border-bottom-style: solid;
				border-right-color: #A4C4D0;
				border-bottom-color: #A4C4D0;
				text-align:center;
				
				
		}
		.tabla1 .modo1 th 
		{
				background-image: url(fondo_tr01a.png);
				background-position: left top;
				font-size: 10px;
				
				text-align: left;
				background-color: #e2ebef;
				background-repeat: repeat-x;
				color: #34484E;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-right-style: solid;
				border-bottom-style: solid;
				border-right-color: #A4C4D0;
				border-bottom-color: #A4C4D0;
		}
		