/* CSS Document */

.tabla_plugin
		{
				
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size:10px;
				text-align: center;
				width:800px;
				

		}

		
		 .tabla_plugin th 
		{
				padding: 5px;
				font-size: 13px;
				background-color: #83aec0;
				background-image: url(fondo_th.png);
				background-repeat: repeat-x;
				color: #FFFFFF;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-right-style: solid;
				border-bottom-style: solid;
				border-right-color: #558FA6;
				border-bottom-color: #558FA6;
				font-family:Verdana, Arial, Helvetica, sans-serif;
		}
		
		.tabla_plugin .modo1 
		{
				font-size: 12px;
				
				background-color: #e2ebef;
				background-image: url(fondo_tr01.png);
				background-repeat: repeat-x;
				color: #34484E;
				font-family:Verdana, Arial, Helvetica, sans-serif;
		}
		.tabla_plugin .modo1 td 
		{
				padding: 5px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-right-style: solid;
				border-bottom-style: solid;
				border-right-color: #A4C4D0;
				border-bottom-color: #A4C4D0;
				text-align:left;
				width:530;
				
				
				
				
				
		}
		